<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" />
		content="width=device-width, user-scalable=no, initial-scale=1.0,
		maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Users</title>
		<link rel="stylesheet" href="{% static 'css/my_style.css' %}" />
	</head>
	<body>
		<h1>Here are the Users</h1>
		{% if users %}
		<ol>
			{% for user in users %}
			<li>User Info</li>
			<ul>
				<li>First Name: {{ user.first_name }}</li>
				<li>Last Name: {{ user.last_name }}</li>
				<li>Email: {{ user.email }}</li>
			</ul>
			{% endfor %}
		</ol>

		{% endif %}
	</body>
</html>
